body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #0a0a0a;
  color: #fff;
}

/* ===== FORMULÁRIO ===== */
.contato-form {
  background-color: #141414;
  padding: 40px;
  max-width: 600px;
  margin: 80px auto;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.4);
  text-align: left;
}

.contato-form h2 {
  color: #ff2d2d;
  text-align: center;
  margin-bottom: 30px;
}

.contato-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 15px;
}

.contato-form input,
.contato-form textarea {
  width: 100%;
  padding: 12px;
  background-color: #1f1f1f;
  border: 1px solid #444;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  outline: none;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}

.seta{
    width: 10%;
    height: 30%;
}

.seta:hover{
     transition: transform 0.2s ease;
    transform: scale(1.1);
}
.contato-form input:focus,
.contato-form textarea:focus {
  border-color: #ff2d2d;
  background-color: #252525;
}

.contato-form button {
  width: 103%;
  background-color: #ff2d2d;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.contato-form button:hover {
  background-color: #ff4747;
}

/* ===== MENSAGEM DE SUCESSO ===== */
.mensagem-sucesso {
  display: none;
  background-color: #0f0f0f;
  border: 2px solid #00ff6a;
  color: #00ff6a;
  padding: 25px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 255, 106, 0.3);
  animation: fadeIn 0.8s ease forwards;
}

.mensagem-sucesso p {
  color: #b2ffcb;
  margin-top: 8px;
  font-size: 15px;
}

/* Animação de aparecer */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
